<header shared-header></header>
<section class="content">
  {{whosTheMan}}
  <form>
    <div shared-taglist></div>
  </form>
  <ul class="linkbaglist">
    <li ng-repeat="linkbaglink in linkbaglist" class="link">
      <a href="{{ linkbaglink.urlletje }}">{{ linkbaglink.urlletje }}</a>
      <ul ng-repeat="datag in linkbaglink.tags" class="tags">
         <li class="tag">{{ datag }}</li> 
      </ul>
    </li>    
  </ul>
  <div my-dom-directive>Click Me!</div>
</section>
<section class="rightpanel" ng-class="{open : showInfo}">
  <div class="handle">
    <a href="#" ng-click="toggleRightpanel($event)" class="close">x</a>
  </div>
  Happy
</section>
<footer shared-footer></footer>
