<header>
  <h1>{{whatsMyName}}</h1>
</header>
<section class="content">
  <form ng-submit="saveUrl()">
    <label ng-repeat="tag in tags">
      <input type="checkbox" checklist-model="dump.tags" checklist-value="tag" id="id-{{tag}}">
      <label for="id-{{tag}}">{{tag}}</label>
    </label>
    <input type="text" ng-model="newTag" placeholder="new tag" class="smallfield" ng-click="addNewTag($event)" />
    <button ng-click="addNewTag($event)">Add</button>
    <p>

  <button ng-click="checkAllTags()" type="button">Check all</button>
  <button ng-click="uncheckAllTags()" type="button">Uncheck all</button><p>
    <!--label for="dumpground">Dump</label--><p>
    <input type="url" id="dumpground" ng-model="dump.urlletje" class="bigfield" autofocus /><p>
    <button>Save</button>
  </form>
  <ul ng-repeat="linkbaglink in linkbaglist">
    <li>{{ linkbaglink.urlletje }} {{ linkbaglink.tags }}</li>    
  </ul>
</section>
<footer>
  <h1><a href="#/zwadonk">Zwadonk</a></h1>
</footer>
