<header>
  <h1>{{whatsMyName}}</h1>
</header>
<section class="content">
    <ul>
      <li ng-repeat="message in messages">
        <!-- exit a message -->
        {{ message.user }} saiz: <input ng-model="message.text" ng-change="messages.$save(message)" />
        <!-- delete message -->
        <button ng-click="messages.$remove(message)">X</button>
      </li>
    </ul>
    <!-- push a new message into the array -->
    <form ng-submit="addMessage()">
      <input ng-model="uname" placeholder="You!" /> saiz 
      <input ng-model="messageText" placeholder="message text" />
      <button type="submit">add message</button>
    </form>
</section>
<footer>
  <a href="#/zwadonk">Zwadonk</a> | <a href="#/fnurkels">Fnurkels</a>
</footer>