  <header>
    <h1>{{whatsMyName}}</h1>
  </header>
<section class="content">
      Stuff {{whosTheMan}}
      <ul>
    <li class="thing" ng-repeat="repo in org_repos">
      <article>
        <a href="{{repo.html_url}}">
          <h3>{{repo.name}}</h3>
        </a>
        {{repo.description}}
      </article>
        </li>
      </ul>
    </section>
<section class="rightpanel" ng-class="{open : showInfo}">
  <div class="handle">
    <a href="#" ng-click="toggleRightpanel($event)" class="close">x</a>
  </div>
  Happy
</section>
  <footer>
    <h1><a href="#/fnurkels">Fnurkels</a></h1>
  </footer>