@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import 'includes/reset';
@import 'includes/vars';

$font-size-pss: 12px;

html,
body {
  margin:0;
  padding:0;
  height:100%;
  overflow-x: hidden;
  background-color : $primary-color-five;
  color: $text-color;
  font-family: $secundary-font;
  font-size: $font-size-pss;
  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
$header_height: 40px;
$footer_height: 2em;

header {
  height: $header_height;
  background-image: url(http://pc06698/wicket/resource/nl.planon.pss.wicket.PssBasePage/styling/img/PSSicon.png);
  background-position-x: 15px;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  padding: 8px 2px;
  color: rgba(255, 255, 255, 1);
  position:relative;
  z-index: 2;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  h1 {
    color: #3F4751;
    font-family: 'Open Sans';
    font-weight: 600; 
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0 53px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.content {
  height: 100%;
  margin-top: -$header_height;
  margin-right: 0;
  margin-bottom: -$footer_height;
  margin-left: 0;
  color: rgba(0, 0, 0, 1);
  overflow:auto;
  padding-top: $header_height+10;
  padding-left: 8px;
  padding-bottom: $footer_height;
  ul {
    list-style-type: none;
    .thing {
      // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      width: 420px;
      margin: 2px 2px 0 10px;
      padding: 2px;
      p {
        margin-left: auto;
        margin-right: auto;
        width: 6em
      }
    }
  }
  form {
    padding: 10px;
    input {
      margin: 10px 6px 10px 6px;
      background-color: $primary-color-five;
      border: 1px solid $complement-color-two;
      padding: 4px 4px 4px 4px; 
      box-shadow: 0px 0px 8px $complement-color-two;
      font-size: $font-size;
    }
    input:focus {
      outline: none; 
      border: 1px solid $complement-color-one; 
      box-shadow: 0px 0px 8px $complement-color-one; 
    }
    input.smallfield {
      width: 100px;
    }
    input.bigfield {
      width: 500px;
    }
    input[type=checkbox] {
        display:none;
    }

    input[type=checkbox] + label {
      display:inline-block;
      margin:-2px;
      padding: 2px 12px;
      margin-top: 10px;
      margin-bottom: 0;
      line-height: 20px;
    }

    input[type=checkbox]:checked + label {
      background-image: none;
      outline: 0;
      color: $complement-color-one;
      background-color:$complement-color-two;
      box-shadow: 0px 0px 8px $complement-color-two;
    }

    button {
      color: #ffffff;
      font-size: $font-size;
      text-decoration: none;
      box-shadow:inset 0px 1px 0px 0px $complement-color-two;
      background: $complement-color-two;

      border: 1px solid $complement-color-two;
      display: inline-block;
    }
    button:hover {
      background: $complement-color-three;
      box-shadow:inset 0px 1px 0px 0px $complement-color-three;
      border: 1px solid $complement-color-three;
      color: $complement-color-four;
      text-decoration: none;
      display: inline-block;
    }
  }
  ul.linkbaglist {
    margin: 4px 0 0 10px;
    li.link {
      opacity: .9;
      width: 400px;
      height: 3.3em;
      margin: 2px;
      padding: 2px;
      background: $primary-color-four;
      border: 1px solid $primary-color-three;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden; 
      a {
        display: block;
        padding-bottom: 2em;
      }
    }
    ul.tags {
      padding-top: 4px;
      position: relative;
      top: -2em;
      display: inline-block;
      li.tag {
        padding: 4px;
        float: left;
        background: $primary-color-one;
        border: 2px solid $primary-color-four;
      }
    }
    li.link:hover {
      opacity: 1;
    }
  }
}//content
.rightpanel {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  margin-left: 99%;
  padding-top: $header_height;
  padding-left: 15px;
  padding-bottom: $footer_height;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  width: 25%;
  z-index: 1;
  .handle{
    $handle-width: 12px;
    background: $background-color;
    border-radius: 2px 0 0 2px;
    height: 15px;
    left: -$handle-width;
    opacity: .5;
    position: absolute;
    top: 4.2em;
    width: $handle-width;
  }
  &.open {
    margin-left: 75%;
    padding-left: 0; /* remove border when open */
  }
  &:hover{
    opacity: 1;
  }
}//rightpanel
footer {
  height: $footer_height;
  background-color: $complement-color-two;
  padding: 8px 2px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  a {
    color: #3F4751;
    font-family: 'Open Sans';
    font-weight: 600; 
    font-size: 16px;
    height: $footer_height;
    margin: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
  }
}//footer