@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import 'includes/reset';
@import 'includes/vars';
@import 'includes/impress';

$font-size-pss: 20px;
$text-color: $color-primary-1;
$background-color: $color-primary-0;

// 
$break-small: 500px;
$break-large: 1200px;

html,
body {
  margin:0;
  padding:0;
  height:100%;
  overflow-x: hidden;
  background-color : $background-color;
  color: $text-color;
  font-family: $secundary-font;
  font-size: $font-size-pss;
  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
$header_height: 40px;
$footer_height: 2em;

header {
  height: $header_height;
  background-image: url(../../static/images/favicon.png);
  background-size: 24px;
  background-position-x: 15px;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  padding: 8px 2px;
  color: rgba(255, 255, 255, 1);
  position:relative;
  z-index: 2;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  h1 {
    color: #3F4751;
    font-family: 'Open Sans';
    font-weight: 600; 
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0 53px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      text-decoration: none;
      color: #3F4751;
    }
  }
}
.content {
  height: 100%;
  margin-top: -$header_height;
  margin-right: 0;
  margin-bottom: -$footer_height;
  margin-left: 0;
  color: rgba(0, 0, 0, 1);
  overflow:auto;
  padding-top: $header_height+10;
  padding-left: 8px;
  padding-bottom: $footer_height;
  @media screen and (max-width: $break-small) {
    text-align: center;
  }
  $kader_size: 200px;
  $kader_border: 10px;
  .kader {
    margin: $kader_border;
    float: left;
    border: $kader_border solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
    width: $kader_size;
    height: $kader_size;
    img {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      transform: scaleY(1);
      transition: all 0.7s ease-in-out;
    }
    .mask {
      padding-top: 25%;
      padding-bottom: auto;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-complement-0;
      transition: all 0.5s linear;
      filter: alpha(opacity = 0);
      opacity: 0;
    }
    h2 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background: transparent;
      margin: 20px 40px 0px 40px;
      transform: scale(0);
      color: #333;
      transition: all 0.5s linear;
      filter: alpha(opacity = 0);
      opacity: 0;
    }
    p {
      color: #333;
      filter: alpha(opacity = 0);
      opacity: 0;
      transform: scale(0);
      transition: all 0.5s linear;
    }
    a.info {
      filter: alpha(opacity = 0);
      opacity: 0;
      transform: scale(0);
      transition: all 0.5s linear;
    }
    &:hover {
      img {
        transform: scale(10);
        filter: alpha(opacity = 0);
        opacity: 0;
      }
      .mask {
        filter: alpha(opacity = 100);
        opacity: 1;
      }
      h2, p, a.info {
        transform: scale(1);
        filter: alpha(opacity = 100);
        opacity: 1;
      }
    }
  }
  ul {
    list-style-type: none;
    .thing {
      // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      width: 420px;
      margin: 2px 2px 0 10px;
      padding: 2px;
      p {
        margin-left: auto;
        margin-right: auto;
        width: 6em
      }
    }
  }
  form {
    padding: 10px;
    input {
      margin: 10px 6px 10px 6px;
      background-color: $color-primary-0;
      border: 1px solid $color-primary-2;
      padding: 4px 4px 4px 4px; 
      box-shadow: 0px 0px 8px $color-primary-2;
      font-size: $font-size;
    }
    input:focus {
      outline: none; 
      border: 1px solid $color-primary-3; 
      box-shadow: 0px 0px 8px $color-primary-3; 
    }
    input.smallfield {
      width: 100px;
    }
    input.bigfield {
      width: 500px;
    }
    input[type=checkbox] {
        display:none;
    }

    input[type=checkbox] + label {
      display:inline-block;
      margin:-2px;
      padding: 2px 12px;
      margin-top: 10px;
      margin-bottom: 0;
      line-height: 20px;
    }

    input[type=checkbox]:checked + label {
      background-image: none;
      outline: 0;
      color: $color-primary-3;
      background-color:$color-primary-2;
      box-shadow: 0px 0px 8px $color-primary-2;
    }

    button {
      color: #ffffff;
      font-size: $font-size;
      text-decoration: none;
      box-shadow:inset 0px 1px 0px 0px $color-primary-2;
      background: $color-primary-2;

      border: 1px solid $color-primary-2;
      display: inline-block;
    }
    button:hover {
      background: $color-primary-4;
      box-shadow:inset 0px 1px 0px 0px $color-primary-4;
      border: 1px solid $color-primary-4;
      color: $color-secondary-1-0;
      text-decoration: none;
      display: inline-block;
    }
  }
  ul.linkbaglist {
    margin: 4px 0 0 10px;
    li.link {
      opacity: .9;
      width: 400px;
      height: 3.3em;
      margin: 2px;
      padding: 2px;
      background: $color-secondary-2-0;
      border: 1px solid $color-secondary-1-1;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden; 
      a {
        display: block;
        padding-bottom: 2em;
      }
    }
    ul.tags {
      padding-top: 4px;
      position: relative;
      top: -2em;
      display: inline-block;
      li.tag {
        padding: 4px;
        float: left;
        background: $color-secondary-1-3;
        border: 2px solid $color-secondary-2-0;
      }
    }
    li.link:hover {
      opacity: 1;
    }
  }
}//content
.rightpanel {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  margin-left: 99%;
  padding-top: $header_height;
  padding-left: 15px;
  padding-bottom: $footer_height;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  width: 25%;
  z-index: 1;
  .handle{
    $handle-width: 12px;
    background: $background-color;
    border-radius: 2px 0 0 2px;
    height: 15px;
    left: -$handle-width;
    opacity: .5;
    position: absolute;
    top: 4.2em;
    width: $handle-width;
  }
  &.open {
    margin-left: 75%;
    padding-left: 0; /* remove border when open */
  }
  &:hover{
    opacity: 1;
  }
}//rightpanel
footer {
  height: $footer_height;
  background-color: $color-primary-2;
  padding: 8px 2px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  a {
    color: #3F4751;
    font-family: 'Open Sans';
    font-weight: 600; 
    font-size: 16px;
    height: $footer_height;
    margin: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
  }
}//footer